{
    "extends": "airbnb",
    // "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "jest": true
    },
    "rules": {
      "no-underscore-dangle": ["error"],
      "jsx-a11y/href-no-hash": "off",
      "no-console": "off",
      "indent": ["error", 4]
    }
  }